html, body, #container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
#map, #table {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.55);
  position: relative;
  display: block;
}
#sidebar {
  width: 300px;
  height: 100%;
  max-width: 100%;
  float: right;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar {
  background-image: linear-gradient(to bottom, #2b6988 0%, #1f4b61 100%);
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

#sidebar textarea {
  margin-bottom: 15px;
}

.navbar .btn-group {
  margin-right:0;
}

#notifications {
  margin-top: 15px;
}

#table {
  margin-right: 300px;
  width: 100%;
}

#properties{
  width:60%;
  padding:2px;
}

.dataTables_wrapper {
  padding-top:15px;
  height: 100%;
  overflow-y: scroll;
}

.dataTables_wrapper .row {
  margin: 0;
}

.dataTables_wrapper .row:after {
  clear: inherit;
}

.dataTables_wrapper .col-sm-12 {
  padding:0;
  margin: 0;
  overflow-x: scroll;
}

.CodeMirror {
  padding-left: 8px;
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;
  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.pull-left {
  margin-right:5px;
}

#download {
  display: none;
}


/* CHANGE COLOR */
.map-overlay{
  display:none;
}
.map-overlay {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 200px;
  top: 60px;
  left: 0;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow:0 1px 2px rgba(0, 0, 0, 0.10);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay-inner fieldset {
  border: none;
  padding: 0;
  margin: 0 0 10px;
}

.map-overlay-inner fieldset:last-child {
  margin: 0;
}

.map-overlay-inner select {
  width: 100%;
}

.map-overlay-inner label {
  display: block;
  font-weight: bold;
  margin: 0 0 5px;
}

.map-overlay-inner button {
  display: inline-block;
  width: 36px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.map-overlay-inner button:focus {
  outline: none;
}

.map-overlay-inner button:hover {
  box-shadow:inset 0 0 0 3px rgba(0, 0, 0, 0.10);
}
/* END CHANGE color */